<h1>Iniciar sesión</h1>
<%= form_with url: login_path do |f| %>
  <%= label_tag :email %><%= email_field_tag :email %><br>
  <%= label_tag :password %><%= password_field_tag :password %><br>
  <%= submit_tag "Entrar" %>
<% end %>

