<h1 class="registro"><%= t("session.titulo") %></h1>

<%= form_with url: sessions_path(locale: I18n.locale) do |f| %>
  <%= f.label :email, t("session.email") %>
  <%= f.email_field :email %>

  <% if flash[:alert] %>
    <div class="error"><%= flash[:alert] %></div>
  <% end %>

  <%= f.label :password, t("session.password") %>
  <%= f.password_field :password %>

  <%= f.submit t("session.submit") %>
<% end %>
<%= link_to "Aún no tengo una cuenta", 
            new_user_path(locale: I18n.locale), 
            class: "link_left" %>

