<div style="display: flex; justify-content: center; margin-top: 20px;">
  <table style="border: 1px solid #ccc; border-collapse: collapse; text-align: center;">
    <thead>
      <tr>
        <th style="padding: 10px; border: 1px solid #ccc;">Total Planners</th>
        <th style="padding: 10px; border: 1px solid #ccc;">Total Respondents</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="padding: 10px; border: 1px solid #ccc;"><%= User.where(role: "planner").count %></td>
        <td style="padding: 10px; border: 1px solid #ccc;"><%= User.where(role: "respondent").count %></td>
      </tr>
    </tbody>
  </table>
</div>

<h1>Lista de Usuarios</h1>

<div style="text-align: center;">
  <table style="margin: 0 auto;">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Admin</th>
        <th>Encuesta</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.nombre %></td>
          <td><%= user.email %></td>
          <td><%= user.admin? ? "Sí" : "No" %></td>
          <td>
            <td>
  <% if user.surveys.any? %>
    <%= link_to "Ver resultados", user_survey_path(user, user.surveys.last), class: "btn btn-primary" %>
  <% else %>
    <span class="encuesta-pendiente">Sin encuestas</span>
  <% end %>
</td>

          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% if current_user&.admin? %>
  <%= button_to "Cerrar sesión",
                logout_path,
                method: :delete,
                class: "btn-logout" %>
<% end %>

