<h1 class="registro"><%= t("registro.titulo") %></h1>

<%= form_with model: @user, url: users_path(locale: I18n.locale) do |f| %>

  <%= f.label :nombre, t("user.nombre") %>
  <%= f.text_field :nombre %>
  <% if @user.errors[:nombre].any? %>
    <div class="error"><%= @user.errors[:nombre].join(", ") %></div>
  <% end %>

  <%= f.label :email, t("user.email") %>
  <%= f.email_field :email %>
  <% if @user.errors[:email].any? %>
    <div class="error"><%= @user.errors[:email].join(", ") %></div>
  <% end %>

  <%= f.label :password, t("user.password") %>
  <%= f.password_field :password %>
  <% if @user.errors[:password].any? %>
    <div class="error"><%= @user.errors[:password].join(", ") %></div>
  <% end %>

  <%= f.label :password_confirmation, t("user.password_confirmation") %>
  <%= f.password_field :password_confirmation %>
  <% if @user.errors[:password_confirmation].any? %>
    <div class="error"><%= @user.errors[:password_confirmation].join(", ") %></div>
  <% end %>

  <%= f.submit t("user.submit") %>
<% end %>

<%= link_to t("session.link"), new_session_path, class: "link_left" %>

