<h1>Resultados de la encuesta</h1>

<p><strong>Usuario:</strong> <%= @user.nombre %></p>
<p><strong>Compañía:</strong> <%= @survey.companion_option %></p>
<p><strong>Menores:</strong> <%= @survey.minors %></p>
<p><strong>Experiencia:</strong> <%= @survey.experience %></p>
<p><strong>Teléfono:</strong> <%= @survey.phone_number %></p>

<%= link_to "Volver", request.referer || root_path, class: "btn-volver" %>
